* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html,
body, .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #ccc;
}

.wrapper .header {
  width: 100%;
  height: 1.06667rem;
  background: #fff;
  justify-items: center;
  padding: 0.4rem;
  align-items: center;
  text-align: center;
  line-height: 1.06667rem;
  display: flex;
}

.wrapper .header .left {
  width: 0.8rem;
  height: 1.06667rem;
  font-size: 0.4rem;
  text-align: center;
}

.wrapper .header .center {
  flex: 1;
  text-align: center;
}

.wrapper .main {
  width: 100%;
  flex: 1;
}

.wrapper .main .deng {
  width: 100%;
  height: 1.33333rem;
  text-align: center;
  line-height: 1.33333rem;
  background: #fff;
}

.wrapper .main .list {
  width: 100%;
  background: #fff;
}

.wrapper .main .list ul {
  width: 100%;
}

.wrapper .main .list ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 1.33333rem;
  line-height: 1.33333rem;
  padding: 0 0.8rem;
}

.wrapper .footer {
  width: 100%;
  height: 1.06667rem;
  background: #000;
  color: #fff;
}
